body{
    margin: 0;
    padding: 0;
}

.contentBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(127, 127, 249);
    font-size: 40px;
}

.searchPara{
    color:rgba(0, 0, 0, 0.406);
    font-family: monospace;
    font-size: 14px;
}

.searchBox{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.searchIcon{
    width: 80px;
    height: 80px;
}

.searchIcon:hover{
    cursor: pointer;
}

.searchBox input{
    width:70%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    transition: all 0.3s ease-in-out;
}

.searchBox input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 94, 0.45);
    box-shadow: 0px 0px 10px rgba(1, 1, 143, 0.484);
}

.sideBox{
    display: flex;
    width: 80%;
    padding: 20px 50px;
    justify-content: space-between;
    margin: 50px 0;
}

.left,.right{
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.429);
    border-radius: 15px;
}

.left:hover , .right:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.left:hover h1 , .right:hover h1{
    color: rgb(127, 127, 249);
    text-decoration: underline;
}

.left p , .right p{
    color: rgba(252, 251, 251, 0.6);
}

.left{
    background-image: url('assets/left-side-slot.jpg');
    background-size: cover;
    background-position: center;
}

.left div,.right div{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    border-radius: 15px;
}

.right{
    background-image: url('assets/right-side-slot.jpg');
    background-size: cover;
    background-position: center;
}

.left div h3, .right div h3{
    font-family: monospace;
    color:rgb(127, 127, 249);
    font-size: 18px;
}