<link rel="stylesheet" href="css/navigation.css">
<div class="bannerBox"> 
    <div class="bannerShadow">
        <div class="logoName">
            <img src="assets/logo-white.png" alt="HymnFlow logo">
        </div>
        <div class = "pageName">
            <h1 id = "pageName">Home</h1>
        </div>
        <div class="linksName">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>